version: "3.8"

services:
  terraform:
    image: hashicorp/terraform:1.10.5
    volumes:
      - ../terraform:/infra
      - ~/.aws:/root/.aws:ro
    working_dir: /infra

  terraspace:
    image: vilnacrm-terraspace:1.10.5
    build:
      context: ..
      dockerfile: docker/terraspace.Dockerfile
    volumes:
      - ../terraform:/infra
      - ~/.aws:/root/.aws:ro
    working_dir: /infra

  terraform-compliance:
    image: eerkunt/terraform-compliance:1.3.34
