version: "3.8"

services:
  terraform:
    image: hashicorp/terraform:1.14.3
    volumes:
      - ../terraform:/infra
      - ~/.aws:/root/.aws:ro
    working_dir: /infra

  terraspace:
    image: vilnacrm-terraspace:1.14.3
    build:
      context: ..
      dockerfile: docker/terraspace.Dockerfile
    environment:
      TS_VERSION_CHECK: "0"
      TS_ENV: ${TS_ENV}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION:-eu-central-1}
      AWS_REGION: ${AWS_REGION:-eu-central-1}
      AWS_PROFILE: ${AWS_PROFILE}
      TF_VAR_SLACK_WORKSPACE_ID: ${TF_VAR_SLACK_WORKSPACE_ID}
      TF_VAR_CODEPIPELINE_SLACK_CHANNEL_ID: ${TF_VAR_CODEPIPELINE_SLACK_CHANNEL_ID}
      TF_VAR_CI_CD_ALERTS_SLACK_CHANNEL_ID: ${TF_VAR_CI_CD_ALERTS_SLACK_CHANNEL_ID}
      TF_VAR_WEBSITE_ALERTS_SLACK_CHANNEL_ID: ${TF_VAR_WEBSITE_ALERTS_SLACK_CHANNEL_ID}
      TF_VAR_REPORT_SLACK_CHANNEL_ID: ${TF_VAR_REPORT_SLACK_CHANNEL_ID}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      GITHUB_OWNER: ${GITHUB_OWNER}
    volumes:
      - ../terraform:/infra
      - ~/.aws:/root/.aws:ro
    working_dir: /infra

  terraform-compliance:
    image: eerkunt/terraform-compliance:1.3.34
